<div class="container">
  <mat-card class="example-card">
    <mat-card-title>Mac Book</mat-card-title>
    <img
      class="image"
      mat-card-image
      src="/assets/images/macbook.jpeg"
      alt=""
    />
    <mat-card-content>
      <p>Price: 200$</p>
      <p>Chip: 200</p>
      <p>Year: 2020</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary">В корзину</button>
      <button class="button" mat-flat-button color="primary">Подробнее</button>
    </mat-card-actions>
  </mat-card>
</div>
